.item{
    height: 200px;
    margin: 5px;
    background-color: aqua;
    text-align: center;
}

.grid-container{
    display:grid;
    grid-template-columns: auto auto auto auto auto auto auto  auto auto auto auto auto;

}