.animation{
    width: 200px;
    height: 200px;
    position: relative;
    background-color: blue;
    animation-name:example ;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}
/*@keyframes example {
    from {background-color: blue; left: 0px; right: 0px;}
    to {background-color: red; left: 800px; top: 300px; border-radius: 50%;}
}
*/

@keyframes example {
    0%{background-color: blue; left: 0px; top: 0px;}
    25%{background-color: rgb(11, 194, 63); left: 300px; top: 0px; border-radius: 50%;}
    50%{background-color: rgb(225, 11, 11); left: 300px; top: 300px; border-radius: 50%;}
    75%{background-color: rgb(199, 230, 20); left: 0px; top: 300px;}
   100%{background-color: blue; left: 0px; top: 0px;}
}


.animation_2{
    width: 200px;
    height: 200px;
    position: relative;
    background-color: blue;
    animation-name:example ;
    top: 500px;

}

.animation_2:hover{
    background-color: brown;
}