body{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
.item{
    display: flex;
    flex-direction: raw;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 30px auto;
    background-size: cover;
    background-repeat: no-repeat;
    width: 60%;

}
.product image{
    max-width: 33px;
    max-height: 50px;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: black;
}

.product-price{
    color: red;
    font-size: larger;

}

.button1{
    padding: 12px 24px;
    background-color: #787370;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.5s;
}
.button1:hover {
    background-color: #2c2b2b;
}
